/* partie pour stylisé le header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: min-content 100%;
    margin-bottom: 2em;
    

}
/*pour stylisé la partie gauche du header*/
.header_left {
    width: 30em;
    background-image: url(./int-images/image2_back.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header_left_top  {
    padding-left:2em ;
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: white;
} 

ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
   
}
    
li{
    padding: 0.7em;
    font-size: 0.7em;
    
}
.header_left_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:5em ;
}
   
i{
    padding-bottom: 0.7em;
}
.header_left_bottom {
    width: 30em;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 3em;
    
    align-items: center;
        
    
}
.direction {
    width: 15em;
    background-color: rgba(109, 168, 162, 1);
    height: 3em;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    size: 0.7em;

}
.home {
    width: 3em;
    height: 3em;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    
}

/*partie centrale du header*/
.header__center {
    width: 24em;
    display: flex;
    flex-direction: column;
}

p {
    padding-right: 1.2em;
    padding-top: 1em;
    font-size: 0.8em;
}

.header_center_title_para4 {
    margin-top: 3.5em;
    color: white;
    height: 7em;
    width: 15em;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(56, 51, 51);

}
h1 {
    padding-top: 0.5em;
    padding-bottom: 1em;
}

/*pour stylisé la partie droite du header*/
.header__right {
    height:20em;
    width: 10em;
    background-color: rgb(131, 173, 173);
    display: flex;
    padding-top: 3em;
    padding-left: 7em;
    
    
}



/* partie pour stylisé le footer */
.footer {
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    background-color: white;

}
.footer__section-footer__section-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: solid 0.7px;
    border-color: rgb(152, 194, 196);
}
.footer__section-footer__section-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer_media_sociaux {
    width: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    

    
}
i::before {
    padding: 0.7em;
}
a {
    font-size: 0.8em;
}


