/* 

    font-family: 'Nunito', sans-serif;

    font-family: 'Poppins', sans-serif;

 */

 /* BASE */

 h1 {
     font-size: 2.5em;
     text-transform: uppercase;
     font-weight: 800;
 }

 h2 {
     font-size: 2.5em;
 }

 h3 {
     letter-spacing: 0.2em;
 }

 a {
     color: black;
     text-decoration: none;
 }

 /* HEADER */

 .header {
     font-family: 'Poppins', sans-serif;
     text-transform: uppercase;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 10em;
     background-color: red;
     
 }

 .header__section {
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding-right: 2em;
 }

 .header__left {
     width: 12em;
     padding-left: 2em;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .header__right {
     background-color: #bdd7d8;
     padding-top: 4em;
     padding-right: 2em;
     padding-left: 20em;
     width: 35em;
     display: flex;
     justify-content: right;
     align-items: baseline;
     min-height: 100%;
 }

 /* MAIN */

 

 /* Section-top */
 

 .main__section-top {
     display: flex;
     justify-content: space-between;
     padding-left: 2em;
     
    
     
 }

 /* image-center */

 .main__section-top__container-mid__image-background {
     position: relative;
     width: 100%;
     height:100%;
     
     
 }

 .main__section-top__container-mid {
     width: 70%;
     height: 20em;
     /* transform: translateX(8.2em); */
 }

/* Text over image */


 .section-top-position {
    
    position: absolute;
    z-index: 2;
    height: 93.5%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
 }

 /* Text container */

 .main__section-top__container-mid__text-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-grow: 1;
    transform: translateX(-2.2em);

 }


 /* List container top */

 /* Container right */

 .main__section-top__container-right {
     
     background-color: green;
     width: 33%;
     
     
}

/* list */

.main__section-top__container-right__bot-content {

    background-color: red;
}

/* Container top left */

.main__section-top__container-left {
    width: 20%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
}

/* List left social icones */

.main__section-top__container-left__top {
    flex-grow: 1;
}

/* List items */

.main__section-top__container-left__top__list {
    
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 100%;
}

/* Count number */

.main__section-top__container-left__mid {
    flex-grow: 2;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/* Button */

.main__section-top__container-left__bot__button {
    width: 100%;
    padding: 1em;
    background-color: #bdd7d8;
    color: white;
    border: none;
}