/*.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(218, 233, 235);
}
.header__section {
  display: flex;
  justify-content: space-around;
  width: 60%;
  text-align: center;
}
.header__right {
  width: 40%;
}*/

.header {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10em;
  background-color: rgb(218, 233, 235);
}

.header__section {
  justify-content: space-between;
  width: 100%;
  display: flex;
  padding-right: 2em;
}

.header__left {
  text-decoration: none;
  width: 12em;
  padding-left: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  background-color: #bdd7d8;
  padding-top: 4em;
  padding-right: 2em;
  padding-left: 20em;
  width: 35em;
  height: 0em;
  display: flex;
  justify-content: right;
  align-items: baseline;
  min-height: 100%;
}
.header__right__search {
  padding-right: 8.5em;
  border-left: black;
  overflow: hidden;
  white-space: nowrap;
}
.main__section-top__container {
  display: flex;
  flex-direction: column;
}
.main__section-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 36em;
}

.main__section-top__container-left {
  display: flex;
  justify-content: space-between;
  padding-left: 3.5em;
  background-color: rgb(218, 233, 235);
  width: 10em;
  height: 25em;
  margin: 0em;
}
.main__section-top__container-mid {
  display: flex;
  justify-content: space-around;
  background-color: rgb(254, 255, 255);
  height: 25em;
  width: 30.5em;

  margin-bottom: 0em;
  padding: 0em;
}
/*transform: translateY(-25em);
  /*margin-left: 10em;*/

.main__section-top__container-left__top__list {
  height: 9em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__section-top__bottom-container {
  position: relative;
  height: 1em;
  width: 42em;
  right: 41.5em;
}

.bg-img {
  height: 11em;
  width: 41.5em;
  margin-right: 4em;
  filter: grayscale(70%);
}
.main__section-top__container-right {
  width: 35em;
  height: 26em;
}
.main__section-top__container-right_bot-container {
  height: inherit;
  width: inherit;
  align-self: center;
}
