/* GLOBAL */

body {
    background: linear-gradient(90deg, rgb(11, 240, 240) 0%, rgb(33, 224, 215) 35%, rgba(0,212,255,1) 100%);
    background-size: 20em 20em;
    background-repeat: no-repeat;
    background-position: top right;
    /* width: 1200px;
    margin: auto; */
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.header__nav__link {
    text-decoration: none;
    color: black;
}

.header__side-bar__link > i {
    color: black;
}

.header__nav {
    font-size:1em;
    min-width: 12em;
    display: flex;
    justify-content: space-around;
}

.header__container {
    text-transform: uppercase;
}

.header__side-bar {
    font-size:1em;
    min-width: 12em;
    display: flex;
    justify-content: end;
}

.header__side-bar__link  {
    padding-right: 1em;
}

/* MAIN */

/* Section - top */

.main-profile__section-top {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(8, 4em);
}

/* -- Text container */

.main-profile__section-top__text-container {
    grid-column: 3/6;
    grid-row: 4/6;
    z-index: 2;
}

.main-profile__section-top__text-container__title {
    
}

/* -- Image - container */

.main-profile__section-top__image-container {
    grid-column: 4/10;
    grid-row : 2/9;
    background-color: yellow;
    
}

.main-profile__section-top__image-container__image {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}

/* -- Image - text container */

.main-profile__section-top__image-container__text-content {
    grid-column: 4/7;
    grid-row: 8/9;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bdd7d8;
    margin-top: 1.5em;
    
}

/* -- icone in on the image */

.main-profile__section-top__image-container__icone-content {
    grid-column: 9/10;
    grid-row: 2/3;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    color: white;
}

/* --link */

.main-profile__section-top__image-container__text-content__link {
    color: #6fd9dd;
    text-decoration: none;
    text-transform: uppercase;
}



/* -- nav list count number */

.main-profile__section-top__nav {
    grid-column: 1/2;
    grid-row: 6/8;
}

/* --List number */

.main-profile__section-top__nav__list {
    list-style: none;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

/* -- Link list of numbers */

.main-profile__section-top__nav__list__item__link {
    text-decoration: none;
    color: black;
}

/* Section - mid */

/* Section - mid -- container top */

.main-profile__section-mid__container-top {
    display: flex;
    margin-top: 4em;
    margin-bottom: 4em;
}

.main-profile__section-mid__container-top__content-box {
    display: flex;
    
    margin-left: 4em;
    margin-right: 4em;

}

/* --nav bar */

.main-profile__section-mid__container-top__content-box__nav {
    display: flex;
    justify-content: space-between;
    color: black;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.main-profile__section-mid__container-top__content-box__nav__link {
    color: black;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
}

.main-profile__section-mid__container-top__content-box__nav__link:hover {
    border-bottom: 1px solid black;
}

/* -- Container */

.main-profile__section-mid__container-top__content-box__container {
    margin-right: 10em;
}

/* -- Title */

.main-profile__section-mid__container-top__content-box__container__title {
    font-size: 2em;
    margin-bottom: initial;
}

.main-profile__section-mid__container-top__content-box__container__subtitle {

}

/* -- Text */

.main-profile__section-mid__container-top__content-box__container__text {
    font-size: 0.9em;
}

.main-profile__section-mid__container-top__content-box__container__vignet {
    color: black;
    font-weight: 600;
}

/* -- Social icones */

.main-profile__section-mid__container-top__content-box__social-media-box {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.main-profile__section-mid__container-top__content-box__main-profile__section-mid__container-top__content-box__social-media-box__list {
    
    height: 20%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    list-style: none;
} 

.main-profile__section-mid__container-top__content-box__social-media-box__list__item__link {
    color: black;
}

.main-profile__section-mid__container-top__content-box__social-media-box__list__item__link:hover {
    border-bottom: 1px dotted black;
}

/* -- image */

.main-profile__section-mid__container-top__image-box {
    margin-left: 4em;
    display: grid;
    grid-template-columns: repeat(1, 20em);
    grid-template-rows: repeat(1, 32em);
}

.main-profile__section-mid__container-top__image {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Section - mid */

.main-profile__section-mid__container-bot__content-box {
    display: flex;
    justify-content: center;
    
}

/* Section - mid - articles box */

.main-profile__section-mid__container-bot__content-box__articles-box {
 width: 50%;
 
}

/* -- Title */

.main-profile__section-mid__containerbotp__content-box__articles-box__title {
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-right: 10em;
}

/* --border */

.main-profile__section-mid__containerbotp__content-box__articles-box__title__border {
    border-bottom: 1px solid black;
    
    margin-right: 35em;
    margin-bottom: 2em;
}

/* -- Articles box */

.main-profile__section-mid__containerbotp__content-box__articles-box__article {
    display: flex;
    margin-bottom: 2em;
}

.main-profile__section-mid__containerbotp__content-box__articles-box__article__container {
    margin-right: 2em;
}

/* -- Image */

.main-profile__section-mid__containerbotp__content-box__articles-box__article__image-box {
    width: 20%;
    height: 20%;
    margin-right: 2em;
}

.main-profile__section-mid__containerbotp__content-box__articles-box__article__image-box__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

/* -- Image right side */

.main-profile__section-mid__container-bot__content-box__image-box{
    width: 35%;
    height: 35%;
}

.main-profile__section-mid__containerbotp__content-box__image-box__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -- Link */

.main-profile__section-mid__containerbotp__content-box__articles-box__link {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    
}

.main-profile__section-mid__containerbotp__content-box__articles-box__link:hover {
    color: #bdd7d8;
}

.main-profile__section-mid__containerbotp__content-box__articles-box__link > i {
    padding-left: 1em;
}

.main-profile__section-mid__containerbotp__content-box__articles-box__article__container__title > a {
    text-decoration: none;
    color: black;
}

/* -- article - hover */
.main-profile__section-mid__containerbotp__content-box__articles-box__article__container__title > a:hover {
    color: #bdd7d8;
}
/* FOOTER */