/* 

    font-family: 'Nunito', sans-serif;

    font-family: 'Poppins', sans-serif;

 */

 /* BASE */

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    font-size: 2.5em;
}

h3 {
    letter-spacing: 0.2em;
}

a {
    color: black;
    text-decoration: none;
}

 /* HEADER */

.header {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10em;
    background-color: white;
    
}

.header__section {
    justify-content: space-between;
    width: 100%;
    display: flex;
    padding-right: 2em;
}

.header__left {
    width: 12em;
    padding-left: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right {
    background-color: #bdd7d8;
    padding-top: 4em;
    padding-right: 2em;
    padding-left: 20em;
    width: 35em;
    display: flex;
    justify-content: right;
    align-items: baseline;
    min-height: 100%;
}

 /* MAIN */

.main {
    background-color: white;
}

 /* Section-top */


.main__section-top {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;

}

 /* image-center */

.main__section-top__container-mid__image-background {
    position: relative;
    width: 100%;
    height:100%;

}

.main__section-top__container-mid {
    width: 70%;
    height: 20em;
     /* transform: translateX(8.2em); */
}

/* Text over image */


.section-top-position {
    
    position: absolute;
    z-index: 2;
    height: 93.5%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

 /* Text container */

.main__section-top__container-mid__text-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-top: 6em;
    transform: translateX(-2.2em);

}


 /* List container top */

 /* Container right */

.main__section-top__container-right {
    
    background-color: #bdd7d8;
    width: 33%;
    display: flex;
    flex-flow: column-reverse;

}

/* list */

.main__section-top__container-right__bot-content {

    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

/* Container top left */

.main__section-top__container-left {
    width: 20%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
}

/* Icone left */

/* .main__section-top__container-mid__logo-content > i {
    font-size: 3em;
    background-color: white;
    padding-top: 0.08em;
    
} */

/* List left social icones */

.main__section-top__container-left__top {
    flex-grow: 1;
}

/* List items */

.main__section-top__container-left__top__list {
    
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 100%;

}

/* Count number */

.main__section-top__container-left__mid {
    flex-grow: 2;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/* Button */

.main__section-top__container-left__bot__button {
    width: 100%;
    padding: 1em;
    background-color: #bdd7d8;
    color: white;
    border: none;
}

/* SECTION MID */

/* Head */

.main__section-mid__head__list {
    display: flex;
    justify-content: center;
}

.main__section-mid__head__list__item {
    padding: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

/* Section images */

.images-group {
    display: flex;
    justify-content: center;
    margin-bottom: -0.8em;
    

}

/* Image container */

.main__section-mid__articles-container {
    height: 30em;
    margin-bottom: 10em;
}

.main__section-mid__articles-container__image-box {
    width: 20%;
    /* float: left; */
}

/* Image */

.main__section-mid__articles-container__image-box__image {
    position: relative;
}

/* Image text */

.main__section-mid__articles-container__image-box__text {
    position: absolute;
    color: white;
    z-index: 1;
}


/* Button section mid */

.main__section-mid__bot {
    text-align: center;
    margin-bottom: 2em;
    
    
}

.main__section-mid__bot > button {
    color: white;
    background-color: #bdd7d8;
    border-radius: 30px;
    border: none;
    font-size: 1em;
    padding: 0.8em;
}

/* SECTION BOT */

.main__section-bot__head {
    
    text-align: center;
}

/* Article section */

.main__section-bot__articles-top {
    display: flex;
    margin-right: 5em;
    margin-left: 5em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.main__section-bot__articles-top__content {
    display: flex;
    justify-content: space-between;
}

/* Text box */

.main__section-bot__articles-top__content__box-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-left: 2em;
}

/* Sub-bar (border) */

.main__section-bot__head__bar {
    border-bottom: 1px solid black;
    margin-left: 38em;
    margin-right: 38em;
    margin-top: 1.2em;

}

/* image */

.main__section-bot__articles-top__content__image {
    max-width: 20%;
}

/* Text */

.main__section-bot__articles-top__content__box-container__text {
    font-weight: 600;
}

/* Subtitle - Date */

.main__section-bot__articles-top__content__box-container__subtext {
    font-weight: 300;
    font-size: 0.8em;
}

/* article bot */

.main__section-bot__articles-bot {
    display: flex;
    margin-right: 5em;
    margin-left: 5em;
}

.main__section-bot__articles-bot__container-left__box-content {
    display: flex;
    margin-bottom: 2em;
    
}

.main__section-bot__articles-bot__box-content__left-side {
    background-color: #bdd7d8;
    padding-left: 3em;
    padding: 3em;
    display: flex;
    flex-flow: column;
    justify-content: end;
}

.main__section-bot__articles-bot__box-content__left-side > h4 {
    padding-bottom: 0.5em;
}


.main__section-bot__articles-bot__box-content__left-side > i {
    color: white;
    font-size: 4em;
    padding-bottom: 0.1em;
}

.main__section-bot__articles-bot__box-content__left-side__text {
    color: white;
    font-size: 1.5em;
}

.main__section-bot__articles-bot__box-content__left-side__subtext {
    color: white;
    font-size: 0.8em;
}

/* article bot - left */

.main__section-bot__articles-bot__container-left {
    display: flex;
    flex-flow: column;
    margin-right: 2em
}

.main__section-bot__articles-bot__container-left__box-bot {
    display: flex;
}

.main__section-bot__articles-bot__container-left__box-content__image {
    position: relative;
    height: 100%;
}

.main__section-bot__articles-bot__container-left__box-content__link {
    position: absolute;
    color: black;
    background-color: white;
    z-index: 1;
    margin-left: 10em;
    margin-top: 1em;
    padding: 0.5em;
    
}

/* image bot box section */

    
.main__section-bot__articles-bot__container-left__box-bot__left-content {
    margin-right: 2em;
}

/* Image bot left-side */
/* HERE !!!! */
.main__section-bot__articles-bot__container-left__box-bot__left-content__image {
    position: relative;
    
}

.container-text-left-box-content {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 21.8em;
    margin-top: 21.3em;
}

.main__section-bot__articles-bot__container-left__box-bot__left-content__title {
    
    color: black;
    font-weight: 600;
}

.main__section-bot__articles-bot__container-left__box-bot__left-content__subtitle {
    font-size: 0.8em;
}

/* Right box - content box */

.main__section-bot__articles-bot__container-left__box-bot__right-content {
    
}

.main__section-bot__articles-bot__container-left__box-bot__right-content__image {
    position: relative;
}

.main__section-bot__articles-bot__container-left__box-bot__right-content__box-content {
    position: absolute;
    z-index: 1;
    margin-top: 20em;
    margin-left: 1em;
    color: white;
    border: 1px solid white;
    padding: 1em;
    border-radius: 90px;
}

.main__section-bot__articles-bot__container-left__box-bot__right-content__box-content > button {
    border: none;
    background: none;
    color: white;
}

/* Right side content box */

.main__section-bot__articles-bot__container-right {
    height: 51.3em;
}

.main__section-bot__articles-bot__container-right__image {
    height: 80%;
}

.main__section-bot__articles-bot__container-right__title {
    padding-top: 1.5em;
    color: black;
    font-weight: 600;
}

.main__section-bot__articles-bot__container-right__subtitle {
    font-size: 0.8em;
}

/* FOOTER */

.footer {
    
}

.footer__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* section - left */

.footer__section-bot__content {
    display: flex;
    align-items: baseline;
}

.footer__section-bot__content > i {
    padding-right: 0.5em;
}

/* Section - right */

.footer__section-bot__content__social-area__list {
    display: flex;
    width: 10em;
    justify-content: space-between;
}

.footer__section-top__link > i {
    padding-left: 1em;
}